%header
	#tagline
		%h1 
			Hi, I'm Travis and I am 
			%i The Social Media Consultant Consultant&#153;.
	#img
		%img{:src=>'/images/photo.jpeg'}

%br{:clear=>'all'}

#main
	%p 
		Want to be a social media consultant, but don't know where to start? I can 
		teach you how to teach others how to use Facebook, Twitter, YouTube, and more!
	%p 
		Do you love a pimped MySpace page, but not sure how to teach someone how to do 
		it, you will learn in my intensive 3-day crash course.
	%p 
		Do you think blogs are the bees knees, but not sure how you can champion
		blogging in your organization? I will teach you everything you need to know to
		teach others things they need to know.
	%p
		Be sure to follow me on 
		%a{:href=>"http://twitter.com/travisj"} Twitter
		for lots of great free social media consulting advice and friend me on
		%a{:href=>"http://facebook.com/travisj"} Facebook
		and learn how to pretend to have an engaging conversation without really caring.
	%p
		%a{:href=>"#"}Click here for my one free tip.
	%p
		If you like my website donate to my tip jar or hire me to design an
		equally amazing site for you. I also modify Wordpress themes to include
		one custom header graphic!
