!!! Strict
%html
  %head
    %title Social Media Consultant Consultant!
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/style.css'}
    %script{:type=>'text/javascript', :src=>'/js/frank.js'}
  %body
    #wrapper
      = refresh
      = yield
